<div>
	Customer Name: <%= @customer_name %><br/>
	Customer Email: <%= @customer_email %><br/>
	Shopify Order ID: <%= @order_id %><br/>
	Shopify Product ID: <%= @product_id %><br/>
	Shopify Product Title: <%= @product_title %><br/>
	Failure Reason: <%= @reason %><br/>
</div>